

{% extends 'CrudApp/base.html'%}

{%block parent%}
<div class="container" align="center">
  <h1>Employee Form</h1>
<table>
<form method="post">
<tr><th><label for="id_eid">Eid:</label></th><td><input type="number" name="eid" required id="id_eid" value={{emp.eid}} ></td></tr>
<tr><th><label for="id_ename">Ename:</label></th><td><input type="text" name="ename" maxlength="30" required id="id_ename" value={{emp.ename}}></td></tr>
<tr><th><label for="id_emailid">Emailid:</label></th><td><input type="email" name="emailid" maxlength="254" required id="id_emailid" value={{emp.emailid}} /></td></tr>
<tr><th><label for="id_city">City:</label></th><td><input type="text" name="city" maxlength="30" required id="id_city" value={{emp.city}} ></td></tr>
<tr><th><label for="id_phone">Phone:</label></th><td><input type="text" name="phone" maxlength="30" required id="id_phone" value={{emp.phone}} /></td></tr>
{%csrf_token%}
<tr><td></td><td><input type="submit" value="Update" /></td></tr>
</form>
</table>
</div>
{%endblock%}
